@{
    ViewData["Title"] = "Conversão Monetária";
}

<div class="text-center">
    <h1 class="display-4">Conversão de Moedas</h1>
</div>


<form method="POST" id="formConversao">
	<div class="row">
		<div class="form-group col-sm">
			<label for="moedaOrigem">Moeda Origem</label>
			<select name="moedaOrigem" class="form-control" id="moedaOrigem">
				<option value="">Selecione uma Moeda</option>
			</select>
		</div>
		<div class="form-group col-sm">
			<label for="moedaDestino">Moeda Destino</label>
			<select name="moedaDestino" class="form-control" id="moedaDestino">
				<option value="">Selecione uma Moeda</option>
			</select>
		</div>
		<div class="form-group col-sm">
			<label for="valor">Valor</label>
			<input type="number" class="form-control" id="valor" min="0">
		</div>
		<div class="form-group col-sm">
			<button type="submit" class="btn btn-primary mt-4">Faça a mágica</button>
		</div>
	</div>
</form>

<div id="resultadoConversao" class="jumbotron d-none text-center">
	<h1 class="display-4 title"></h1>
	<small>Valores baseados em dólar.</small>
	<table class="table">
		<tr>
			<th colspan="2">Cotação</th>
		</tr>
		<tr>
			<td id="moedaDestinoCotacao"></td>
			<td id="moedaOrigemCotacao"></td>
		</tr>
		<tr>
			<td id="quantidade" colspan="2"></td>
		</tr>
		<tr>
			<td id="resultado" colspan="2"></td>
		</tr>
	</table>
</div>


<div id="mainAlert" class="alert fade alert-dismissible" role="alert"></div>